<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IPG Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>IPG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IPGTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6826A06B1F5FCEE7006ECFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68857E0B1F5D1D5C002E1647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68857E1A1F5D1DDA002E1647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EDF7241F67A24900DD338A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
